* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template:
    "nav-menu left-menu main" 1fr /
    30px 200px 1fr;

  width: 100vw;
  height: 100vh;
  text-align: center;
  border: solid 5px black;
}

.nav-menu {
  grid-area: nav-menu;
  background-color: rgb(160, 250, 253);
}

.left-menu {
  grid-area: left-menu;
  background-color: rgb(196, 196, 196);
  display: grid;
  grid-template-rows: 30px 100px 80px 1fr 80px 60px;
  grid-gap: 5px;
  overflow: scroll;
}

.boolean {
  border: solid 1px black;
  display: grid;
}

.invite {
  border: solid 1px black;
  display: grid;
}

.general {
  border: solid 1px black;
  display: grid;
}

.classes {
  border: solid 1px black;
  display: grid;
}

.lobby {
  border: solid 1px black;
  display: grid;
}

.staff {
  border: solid 1px black;
  display: grid;
}

.main {
  grid-area: main;
  background-color: rgb(156, 190, 201);
  display: grid;
  grid-template-rows: 30px 1fr 30px 20px;
  grid-gap: 5px;
}

.class1 {
  border: solid 1px black;
  display: grid;
  place-items: center;
}

.welcome {
  border: solid 1px black;
  display: grid;
  place-items: center;
}

.message {
  border: solid 1px black;
  display: grid;
  place-items: center;
}

.messa {
  border: solid 1px black;
  display: grid;
  place-items: center;
}

@media screen and (max-width: 450px) {
  .container {
    display: grid;
    grid-template:
      "left-menu main" 1fr /
      200px 1fr;
  }
  .nav-menu {
    display: none;
  }
}

@media screen and (max-width: 300px) {
  .container {
    display: grid;
    grid-template:
      "main" 1fr /
      1fr;
  }
  .left-menu {
    display: none;
  }
}
